<h1>マイページ</h1>

<p>
  <strong><%= t('views.name') %>:</strong>
  <%= @user.name %>
</p>

<% if current_user.admin == true %>
  <%= link_to "管理者ページ", admin_users_path %>
<% end %>

<div>
  <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
</div>

