<h1>管理画面:ユーザー一覧</h1>

<h2>総ユーザー数:<%= @users.count %></h2>
<% @users.each do |user| %>
  <div>
    <%= link_to "ID:#{user.id} 名前:#{user.name} 作成日:#{user.created_at.strftime("%Y-%m-%d %H:%M")} タスク数:#{user.tasks.count} 管理者#{user.admin}", admin_user_path(user) %>
  </div>
<% end %>
<br>
<%= link_to "アカウント新規作成", new_admin_user_path %>